[submodule "submodules/RoutingKit"]
	path = submodules/RoutingKit
	url = https://github.com/RoutingKit/RoutingKit.git
[submodule "submodules/libosmium"]
	path = submodules/libosmium
	url = git@github.com:osmcode/libosmium.git
