[submodule "submodules/RoutingKit"]
	path = submodules/RoutingKit
	url = https://github.com/RoutingKit/RoutingKit.git
[submodule "submodules/libosmium"]
	path = submodules/libosmium
	url = git@github.com:osmcode/libosmium.git
[submodule "submodules/protozero"]
	path = submodules/protozero
	url = git@github.com:mapbox/protozero.git
[submodule "submodules/units"]
	path = submodules/units
	url = https://github.com/nholthaus/units.git
[submodule "submodules/type_safe"]
	path = submodules/type_safe
	url = https://github.com/r-barnes/type_safe.git
