[submodule "submodules/osrm-backend"]
	path = submodules/osrm-backend
	url = https://github.com/Project-OSRM/osrm-backend.git
[submodule "submodules/RoutingKit"]
	path = submodules/RoutingKit
	url = https://github.com/RoutingKit/RoutingKit.git
